In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
# https://finance.yahoo.com/quote/VTI/history?period1=1002326400&period2=1633478400&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

In [20]:
stocks = pd.read_csv('VTI.csv')
stocks.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2001-10-08  48.224998  48.645000  48.154999  48.325001  33.445217  726800
1  2001-10-09  48.299999  48.325001  47.955002  48.005001  33.223755  466400
2  2001-10-10  48.075001  49.174999  48.075001  49.145000  34.012741  665600
3  2001-10-11  49.875000  50.130001  49.724998  50.044998  34.635593  540200
4  2001-10-12  49.724998  49.955002  48.869999  49.665001  34.372612  353400

In [21]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5034 entries, 0 to 5033
Data columns (total 7 columns):
Date         5034 non-null object
Open         5034 non-null float64
High         5034 non-null float64
Low          5034 non-null float64
Close        5034 non-null float64
Adj Close    5034 non-null float64
Volume       5034 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 275.4+ KB

In [22]:
type(stocks['Date'][0])

str

In [23]:
stocks['Date'] = pd.to_datetime(stocks['Date'])

In [24]:
type(stocks['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [25]:
stocks.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [26]:
stocks[stocks.duplicated() == True]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [27]:
stocks.shape # missing dates?

(5034, 7)

In [28]:
stocks.to_csv('VTI_stocks.csv')